body {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin: 0;
  background-color: #002628;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.skeletonHome {
  margin: 15px;
}
.skeletonSlide {
  margin: 4px;
  display: flex;
  align-items: center;
}

body::-webkit-scrollbar {
  width: 10px; /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: #8badb2; /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
  background-color: #1b9aad; /* цвет бегунка */
  border-radius: 10px; /* округлось бегунка */
  border: 1px solid #000000b9; /*отступ вокруг бегунка*/
}

